header {
  padding: 12px 20px;
  background-color: $color-primary;

  .logo {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: $color-white;
  }
}

.room-page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;

  .col-left {
    width: 55%;
    max-width: 600px;
    padding-right: 20px;
    box-sizing: border-box;

    .room-display {
      position: relative;
      width: 100%;
      padding-top: 67%;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
    }

    .room-images {
      padding: 12px 0;

      img {
        width: 150px;
        height: 100px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .detail {
      font-size: 13px;
      color: $color-grey;
      background-color: $color-grey--light;
      padding: 20px;
      box-shadow: 0 0 5px 0 rgba($color-black,.2);
      border-radius: 2px;

      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 16px;
      }

      p {
        margin: 0;
        line-height: 20px;

        i {
          width: 20px;
          margin-right: 4px;
        }
      }

      .facility {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        padding-top: 12px;
        border-top: 1px dashed $color-grey;

        .item {
          width: 33%;
          line-height: 20px;

          i {
            width: 20px;
            margin-right: 4px;
          }
        }

        .item--invalid {
          color: $color-grey--medium;
        }
      }
    }
  }

  .col-right {
    width: 40%;
    max-width: 450px;
    padding: 12px 0 0 20px;
    box-sizing: border-box;
    color: $color-grey;

    .room-name {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 3px;
    }

    .divider {
      width: 180px;
      height: 3px;
      background-color: $color-grey;
      margin: 12px 0 16px 0;
    }

    .room-intro {
      margin-bottom: 12px;
      font-size: 14px;
    }

    .room-price {
      margin-bottom: 12px;

      p {
        margin: 0;
      }
    }

    .room-time {
      margin-bottom: 30px;

      p {
        margin: 0;
      }
    }

    .reserve {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 50px;

      button {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        color: $color-white;
        font-weight: 700;
        outline: none;
        border: 0;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }

    .recommendation {
      font-size: 20px;
      font-weight: 500;
      color: $color-grey;
      letter-spacing: 1px;
    }

    .recommendation-list {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        margin-top: 16px;
        padding: 16px;
        box-shadow: 0 0 7px 0 rgba($color-black,.2);
        text-decoration: none;
        color: $color-grey;

        .item-img {
          position: relative;
          width: 50%;
          padding-top: 34%;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
          }
        }

        .item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          margin-left: 12px;

          .name {
            font-weight: 700;
          }

          .price {
            font-size: 14px;
            text-align: right;

            .text--hili {
              font-size: 16px;
              color: $color-red;
              font-weight: 500;
              font-style: italic;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}

.dialog-reserve {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-black, .5);

  .content {
    position: relative;
    padding: 20px 28px;
    background-color: $color-white;
    color: $color-grey;

    .btn-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.1s ease;

      &:hover {
        background-color: rgba($color-grey,.2);
      }
    }

    .bill {
      opacity: 0;
      font-size: 13px;
      text-align: right;
      margin-bottom: 16px;
      color: $color-red;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      margin: 8px 0 16px 0;
    }

    .item-title {
      font-size: 13px;
      font-weight: 300;
    }

    .item-input-date {
      display: flex;
      justify-content: space-between;
      width: 300px;
      height: 30px;
      margin: 4px 0;

      .date {
        position: relative;
        width: 45%;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: 4px;
      }

      i {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .item-input {
      width: 300px;
      height: 30px;
      margin: 4px 0 12px;

      input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        outline: none;
        padding-left: 4px;
      }
    }

    .send-reservation {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      button {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        color: $color-white;
        outline: none;
        border: 0;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
}

.dialog-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-black, .5);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    color: $color-grey;
    font-size: 14px;

    .cover-img {
      width: 450px;
      height: 280px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .reserve-success {
      padding: 20px 0;

      i {
        font-size: 16px;
        vertical-align: middle;
        color: $color-main;
      }
    }

    #btn-back {
      margin: 20px 0;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      color: $color-white;
      outline: none;
      border: 0;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
}